@charset "UTC-8";
:root {
    --background-color: #6666ff;
    --background-color-light: #8e8efb;
    --background-color-dark: #3a3a7f;
    --text-color: #ffffff;
    --body-color: #000000;
    --text-color-transparent: #ffffff80;
  }

header {
    background-color:var(--background-color);
}
#burguer {
  color: var(--text-color);
}
menu a {
  background-color: var(--background-color);
  border-top: 2px solid var(--text-color-transparent);
  color: var(--text-color);
}
menu a:hover {
  background-color: var(--background-color-light);
}
menu ul {
  background-color: var(--background-color);
}
body {
  background-color: var(--background-color-dark);
}
main {
 background-color: var(--body-color);
 color: var(--text-color);
}
.nome {
  background-image: linear-gradient(150deg, var(--background-color), var(--text-color));
  -webkit-background-clip: text; 
  -webkit-color: transparent;
  background-clip: text;
  color: transparent;
}

