/*-------------------- Regras e Import's --------------------*/
@charset "UTC-8";
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*-------------------- Reset --------------------*/
* {
    margin: 0px;
    padding: 0px;   
}

/*-------------------- Configurações Gerais da Página --------------------*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height: 30px;
    position: fixed;
    font-family: 'Nunito', sans-serif;
    top: 0px;
    width: 100vw;
    z-index: 999;
}
  
.logomarca {
    width: 40px;
    height: 40px; 
}
menu {
    display: none;
    position: fixed;
    top: 70px;
    width: 100vw;
    z-index: 998;
}
#burguer {
    cursor: pointer;
    margin-left: 35px;
}
menu ul {
    list-style-type: none;
}
menu a {    
    display: block;
    padding: 5px;
    text-decoration: none;
    text-align: center;
}

.container {
    margin-right: 30px;
}
main {
    padding: 2em;
    width: 75vw;
    height: 100%h;
    margin: auto;
    box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.5);
    
} 
#inicio {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 70px;
}

.nome {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-size: 2em;
    font-weight: 1000;
    white-space: nowrap;
    text-align: center;
}

#texto-digitado {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-size: 1.25em;
    font-weight: 1000;
    overflow: hidden;
    white-space: nowrap;
    animation: digitando 2s linear;
    animation-delay: 4s;
    margin-bottom: 20px;
    text-align: center;
  }
  #avatar {
    
    width: 100%;

  }
  .paragrafos {
    font-size: 0.8em;
    font-weight: 700;
    font-family: 'Nunito', sans-serif;
    text-align: justify;
  }

  #habilidades {
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .titulos {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-size: 2em;
    font-weight: 1000;
    white-space: nowrap;
    text-align: center;
    margin: 20px 0;
  }

  /*-------------------- Estilo do Slider (habilidades) --------------------*/

  .slider {
    
    margin: o auto;
    width: 250px;
    height: 125px;
    overflow: hidden;
  }
  .slides {
    width: 400%;
    height: 200px;
    display: flex;
  }
  .slides input {
    display: none;
  }
  .slide {
    width: 25%;
    position: relative;
    transition: 2s;
  }
  .slides img {
    width: 250px;
    margin: 0 auto;
  }
  .manual-navigation {
    position: absolute;
    width: 250px;
    margin-top: -70px;
    display: flex;
    justify-content: center;
  }
  .manual-btn {
    border-radius: 10px;
    padding: 3px;
    cursor: pointer;
    transition: 1s;
  }
  .manual-btn:not(:last-child) {
    margin-right: 10px;
  }
  #radio1:checked ~ .first {
    margin: 0;
  }
  #radio2:checked ~ .first {
    margin-left: -25%;
  }
  #radio3:checked ~ .first {
    margin-left: -50%;
  }
  #radio4:checked ~ .first {
    margin-left: -75%;
  }
  .navigation-auto div{
    border: 1px solid black;
    padding: 3px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
  }
  .navigation-auto{
    position: absolute;
    width: 250px;
    margin-top: 130px;
    display: flex;
    justify-content: center;
  }
  .navigation-auto div:not(:last-child) {
    margin-right: 10px;
  }
  

  /*-------------------- Fim do Estilo do Slider (habilidades) --------------------*/

  #softskills {
    margin-top: 20px;
  }

  #projetos img {
    display: flex;
    width: 100%;
    margin: 20px auto;
    border-radius: 15px;
  }
  .paragrafo-img {
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-weight: bolder;
  }
  .trajetoria-img {
    display: flex;
    width: 60%;
    margin: 20px auto;
  }
  .desenvolve-img {
    display: flex;
    width: 40%;
    margin: 20px auto;
  }
  footer {
    height: 100px;
  }
  footer p {
    text-align: center;
    font-family: 'Roboto', sans-serif; 
    font-weight: bold;
  }
  .desenvolvido {
    margin: 20px 0;
    padding-top: 20px;
  }


body::-webkit-scrollbar {
    width: 0px;
  }

/*-------------------- Telas Maiores --------------------*/

@media screen and (min-width: 768px) and (max-width: 992px) {
  .nome {
  text-align: left;
  font-size: 6vw;
  }
  #texto-digitado{
  text-align: left;
  font-size: 3.7vw;
  }
  .inicio-img {
    text-align: center;
  }
  #avatar {
    width: 50%;
  }
  .paragrafos {
    font-size: 1em;
    width: 70%;
    margin: auto;
  }
  #paragrafo-inicio {
    margin-top: 20px;
  }
  #projetos img{
    width: 60%;
    margin: 20px auto;
  }
 
  .trajetoria-img {
    width: 30%;
    margin: 20px auto;
  }
  .desenvolve-img {
    display: flex;
    width: 25%;
    margin: 20px auto;
  }


}
@media screen and (min-width: 992px) {
  #inicio {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  
  }
  .inicio-nome {
    width: 60%;
  }
  .inicio-img {
    width: 40%;
  }
  .inicio-paragrafo{
    width: 100%;
  }
  .nome {
  text-align: left;
  font-size: 6vw;
  }
  #texto-digitado{
  text-align: left;
  font-size: 3.7vw;
  }
  .titulos {
    font-size: 4em;
  }
  #avatar {
  min-width: 300px;
  }
  .paragrafos {
    font-size: 1.2em;
    width: 70%;
    margin: auto;
  }
  #paragrafo-inicio {
    margin-top: 20px;
  }

  
  /*-------------------- Estilo do Slider (habilidades) --------------------*/

  .slider {
    
    margin: o auto;
    width: 500px;
    height: 250px;
    overflow: hidden;
  }
  .slides {
    width: 400%;
    height: 500px;
    display: flex;
  }
  .slides input {
    display: none;
  }
  .slide {
    width: 25%;
    position: relative;
    transition: 2s;
  }
  .slides img {
    width: 500px;
    margin: 0 auto;
  }
  .manual-navigation {
    position: absolute;
    width: 500px;
    margin-top: -250px;
    display: flex;
    justify-content: center;
  }
  .manual-btn {
    border-radius: 10px;
    padding: 3px;
    cursor: pointer;
    transition: 1s;
  }
  .manual-btn:not(:last-child) {
    margin-right: 10px;
  }
  #radio1:checked ~ .first {
    margin: 0;
  }
  #radio2:checked ~ .first {
    margin-left: -25%;
  }
  #radio3:checked ~ .first {
    margin-left: -50%;
  }
  #radio4:checked ~ .first {
    margin-left: -75%;
  }
  .navigation-auto div{
    border: 1px solid black;
    padding: 3px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
  }
  .navigation-auto{
    position: absolute;
    width: 500px;
    margin-top: 250px;
    display: flex;
    justify-content: center;
  }
  .navigation-auto div:not(:last-child) {
    margin-right: 10px;
  }
  /*-------------------- Fim do Estilo do Slider (habilidades) --------------------*/
  
  #projetos img{
    width: 60%;
    margin: 20px auto;
  }
 
  .trajetoria-img {
    width: 30%;
    margin: 20px auto;
  }
  .desenvolve-img {
    display: flex;
    width: 20%;
    margin: 20px auto;
  }
}
/*-------------------- Animações --------------------*/
@keyframes digitando {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}