@charset "UTC-8";
header {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
  
.logomarca {
    width: 100px;
    height: 100px; 
}